body {
  margin: 0;
  padding: 0;
}

#topbar {
  z-index: 10000;
position: fixed;
top: 0px;
width: 100%;
height: 40px;
background: #a9a9a9;
border-width: 0 0 10px 0;
border-style: solid;
border-image: linear-gradient(rgb(192, 192, 192, 0.7), rgb(128, 128, 128, 0.7)) 1;
}

#topbar h1{
  color: #4682b4;
  font-family: sans-serif;
  float: left;
  font-size: 20px;
padding-left: 10px;
margin: 10px;
}

#topbar button{
  color: #7ba7cc;
  font-family: sans-serif;
  float: right;
  font-size: 15px;
  margin: 10px;
}

#topbar button:hover{
  background-color: #696969;
  color: #7ba7cc;
}

#onlegend {
  z-index: 9999;
position: fixed;
    width: 450px;
    height: 170px;
    background: #a9a9a9;
    margin-top: 70px;
    margin-left: 20px;
    font-family: sans-serif;
    border: 10px solid;
    border-image: linear-gradient(rgb(192, 192, 192, 0.7), rgb(128, 128, 128, 0.7)) 1;
    white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
}

#onlegend h1{
  color: #4682b4;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

#onlegend a{
  color: #4682b4;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

#onlegend a:hover{
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

#onlegend h6{
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  margin: 10px;
}

#dot {
  height: 7px;
width: 7px;
background-color: white;
border: 10px solid;
border-radius: 50%;
border-image: linear-gradient(rgb(57, 133, 75), rgb(57, 133, 75)) 1;
z-index: 10009;
position: fixed;
margin-left: 10px;
margin-bottom: 5px;
}

#dot2 {
  height: 7px;
  width: 7px;
  background-color: linear-gradient(255, 255, 255), rgb(0, 0, 0)) 1;
  border: 10px solid;
  border-radius: 50%;
  border-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255)) 1;
  z-index: 10009;
  position: fixed;
  margin-left: 10px;
  margin-top: 5px;
}

#bigp {
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  margin-left: 40px;
}

#littlep {
  color: black;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  margin-left: 40px;
  display: inline-block;
}


#onlegend button{
  color: #7ba7cc;
  font-family: sans-serif;
  float: right;
  font-size: 15px;
  margin-right: 10px;
  display: inline-block;
}

#onlegend button:hover{
  background-color: #696969;
  color: #7ba7cc;
}

#mapcountainer {
  width:100%;
  height:100%;
}

/*https://docs.mapbox.com/help/tutorials/building-a-store-locator/ tutorial to help me customize*/
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content{
  width: 200px;
  height: 180px;
  background: #a9a9a9;
  border: 10px solid;
border-image: linear-gradient(rgb(192, 192, 192, 0.7), rgb(128, 128, 128, 0.7)) 1;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
